COLLABORATION_BOOTSTRAP_DB_PASSWORD=replace-with-random-bootstrap-password
COLLABORATION_INTEGRATION_DB_PASSWORD=replace-with-random-integration-password
COLLABORATION_PORTAL_DB_PASSWORD=replace-with-random-portal-password
COLLABORATION_SECRET_KEY=replace-with-at-least-32-random-characters
COLLABORATION_INTERNAL_TOKEN=replace-with-at-least-32-random-characters
COLLABORATION_PUBLIC_ORIGIN=https://partner.tongzhoukuajing.com
